<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <label class="label">Add a Reading:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <div class="select">
          <select name="code">
            <option value="200">Thunderstorm</option>
            <option value="300">Drizzle</option>
            <option value="500">Rain</option>
            <option value="600">Snow</option>
            <option value="701">Mist</option>
            <option value="721">Haze</option>
            <option value="741">Fog</option>
            <option value="781">Tornado</option>
            <option value="800">Clear</option>
            <option value="801">Clouds</option>
          </select>
        </div>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="0.00C" name="temperature" step=".01" required>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="00.00KM/H" name="windSpeed"  step=".01" min="0" required>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="000deg" name="windDirection"  min="0" max="360" required>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="000hPa" name="pressure"  min="800" max="1100" required>
      </div>
    </div>
  </div>
  <button class="button is-link">Add Reading</button>
</form>
