{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weathertop
  </h3>
  <div class="section">
    <p>
      Welcome to the Weathertop Application, where you can submit weather readings, or find out latest weather trends or forecasts for your various locations.
    </p>
  </div>
</section>