{{> welcome-menu}}

<section class="section">
  <h1 class="title">
    Welcome
  </h1>
  <br>
  <p class="is-size-5">
    Welcome to the Weathertop Application, where you can submit weather readings, or find out latest weather trends or
    forecasts for your various locations.
    <br>
    <br>
    Please use the <a href="/signup" class="is-underlined has-text-weight-bold is-size-4">Sign up</a> or <a
      href="/login" class="is-underlined has-text-weight-bold is-size-4">Log In</a> buttons to continue... </p>
</section>
