{{> welcome-menu}}

<section class="section">
  <h1 class="title">
  Welcome
  </h1>
  <br>
  <p>
    Welcome to the Weathertop Application, where you can submit weather readings, or find out latest weather trends or forecasts for your various locations.
  </p>
  <br>
  <p> Please use the Sign up or Log in buttons to continue... </p>
</section>
