{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
    {{> station-summary}}
    {{> historical-trends}}
  </div>
  {{> list-readings}}
  {{> add-reading}}
  {{> add-reading-api}}
</section>