{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
    {{> station-summary}}
  </div>
  {{> list-readings}}
  {{> add-reading}}
</section>